<aside class="seeker-sidebar">

    <nav
        class="seeker-sidebar-navigation"
        aria-label="Job seeker navigation"
    >

        <a
            href="{{ url_for('seeker.profile') }}"
            class="{{
                'active'
                if request.endpoint == 'seeker.profile'
                else ''
            }}"
        >
            <span class="sidebar-link-icon">
                <i class="fa-regular fa-user"></i>
            </span>

            <span>My Profile</span>
        </a>


      <a
    href="{{ url_for('applications.list_applications') }}"
    class="{{
        'active'
        if request.endpoint == 'applications.list_applications'
        else ''
    }}"
>
    <span class="sidebar-link-icon">
        <i class="fa-regular fa-file-lines"></i>
    </span>

    <span>Application History</span>
</a>


        <a
            href="{{ url_for('interviews.seeker_interviews') }}"
            class="{{
                'active'
                if request.endpoint in [
                    'interviews.seeker_interviews',
                    'interviews.respond'
                ]
                else ''
            }}"
        >
            <span class="sidebar-link-icon">
                <i class="fa-regular fa-calendar-check"></i>
            </span>

            <span>Interview Schedule</span>

            {% if interview_invitation_count %}
                <span class="sidebar-notification-badge">
                    {{ interview_invitation_count }}
                </span>
            {% endif %}
        </a>


        <a
            href="{{ url_for('jobs.list_saved_jobs') }}"
            class="{{
                'active'
                if request.endpoint == 'jobs.list_saved_jobs'
                else ''
            }}"
        >
            <span class="sidebar-link-icon">
                <i class="fa-regular fa-bookmark"></i>
            </span>

            <span>Saved Jobs</span>
        </a>


        <a
            href="{{ url_for('job_alerts') }}"
            class="{{
                'active'
                if request.endpoint == 'job_alerts'
                else ''
            }}"
        >
            <span class="sidebar-link-icon">
                <i class="fa-regular fa-bell"></i>
            </span>

            <span>Job Alerts</span>
        </a>


        <a
            href="{{ url_for('settings') }}"
            class="{{
                'active'
                if request.endpoint == 'settings'
                else ''
            }}"
        >
            <span class="sidebar-link-icon">
                <i class="fa-solid fa-gear"></i>
            </span>

            <span>Settings</span>
        </a>

    </nav>


    <div class="seeker-sidebar-bottom">

        <a
            href="{{ url_for('seeker.logout') }}"
            class="sidebar-logout-link"
        >
            <span class="sidebar-link-icon">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </span>

            <span>Logout</span>
        </a>

    </div>

</aside>
